.login-frm
	%h1 Login
	= form_for 'user', url: {action: 'create'} do |f|
		.form-group
			= f.label :Username
			= f.text_field :username, class: 'form-control'
			= f.label :Password
			= f.password_field :password, class: 'form-control'
		= f.submit :Login, class: 'btn btn-primary text-center'
