<table class="table">
	<tr>
		<th>name</th>
		<th>actions</th>
	</tr>
	<% @users.each do |user| %>
		<% unless current_user.id == user.id %>
			<tr>
				<td><%= user.name %></td>
				<% if @friend.find_by(user_1:current_user.id, user_2:user.id)||@friend.find_by(user_1:user.id, user_2:current_user.id)%>
					<td>Already Friends</td>
				<% elsif user.friend_request.where(target_id:current_user.id).any? %>
					<td>Awaiting acceptance</td>
				<% elsif current_user.friend_request.where(target_id:user.id).any? %>
					<td><%= link_to 'Accept', friend_request_accept_path(user.id), method: :post %></td>
					<td><%= link_to 'Deny', friend_request_delete_path(current_user.friend_request.find_by(target_id:user.id)), method: :delete %></td>
				<% else %>
					<td>
						<%= form_for 'friend_request', url:{action:'create', controller:'friend_request'} do |f| %>
  						<div><%= hidden_field_tag :target_id, user.id %></div>
  						<%= f.submit "Add as Friend", class: "btn btn-primary" %>
						<% end %>
					</td>
				<% end %>

			</tr>
		<% end %>
	<% end %>
</table>
<%= link_to 'Go Back', :back, class: 'btn btn-danger' %>
